.container {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: gray;

	flex-direction: row;
}

div {
	color: white;
	font-size: 5rem;
	font-family: Consolas;
	text-align: center;
}