pre {
	padding: 8px 12px;
	border-radius: 3px;
	border: 1px solid #dbdbdb;
	background-color: #fdf6e3;

    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    /*padding: 16px 24px;*/
}
/*code:not(lang-python) {
	padding: 2px 4px;
    color: #1f1f1f;
    background-color: #f0f0f0;
    border-radius: 4px;
}*/
h1, h2 {
	font-size: 2em;
    border-bottom: 1px solid #eaecef;
    padding-bottom: .3em;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
}